@media (max-width: 900px){
    #page-home{
        background-position-x: 70vw;
    }

    #page-home .content{
        align-items: center;
        text-align: center;
    }

    #page-home header a{
        position: absolute;
        right: 3%;
    }
    #page-home h1{
        padding-top: 5%;
        font-size: 20px;
        top: 50%;
        transform: translateY(-15%);
        transform: translateX(-10%);

        text-align: center;
    }
    #page-home main{
        align-items: center;
    }
    #page-home main .buttons{
        gap: 10px;
    }
    #page-home main .buttons{
        justify-content: center;
        display: flex;
        flex-direction: row;
        margin-top: 10px;
    }
    
    #page-search-results main{
        margin: 48px 20px 20px 20px;
    }
    #page-search-results .cards{
        grid-template-columns: 1fr;
        width: 100%;
    }

    #page-search-results .cards img{
        height: 100px;
    }
    #page-search-results .cards p{
        font-size: 12px;
        line-height: 18px;
    }
    #page-search-results .cards h3{
        font-size: 20px;
        line-height: 23px;
    }
    #page-search-results .cards h1{
        font-size: 25px;
        line-height: 20px;
    }

    #page-home main{
        max-width: 560px;
        flex: 1;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 100%;        flex: 1;

    }
    #page-home main{
        justify-content: center;
        display: flex;
        flex-direction: column;
    }

    #page-home main #canvas{
        width: 100%;
        height: 70vh;
        margin-right: 0;
        margin-left: 0;

    }
    #page-home main .buttons{
        width: 80%;
    }
}

@media(min-width:1700px){
    #page-home{
        background-position-x: 40vw;
    }

    #page-home main .buttons{
        justify-content: center;
        display: flex;
        flex-direction: column;
    }
}
@media(max-height:760px){
    #page-home{
        background-position-y: 200px;
    }
}

